<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" href="{{ fn.app('assets/css/index.css') }}">
	<script src="{{ fn.app('assets/js/common.js') }}" asycn></script>
	<script src="{{ fn.app('assets/js/' + filename + '.js') }}" async></script>
</head>
<body class="page">
	{% include 'navbar.html' %}
	<main class="page__content" role="main">
		{% block content %}
		{% endblock %}
	</main>
	{% include 'footer.html' %}
</body>
</html>
