<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>J.M. Lofts</title>
  <meta name="description" content="Historic charm meets modern living at J.M. Lofts, a brand new upscale apartment community located in the heart of downtown Haverhill.">
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400%7CIM+Fell+Great+Primer+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/{{ page }}.css">
</head>
<body class="page">
  {% include 'components/navbar.html' %}
  <main class="page__content">
    <div class="page__constraint">{% block content %}{% endblock %}</div>
  </main>
  <div class="page__overlay"></div>
  {% include 'components/footer.html' %}
  {% block scripts %}{% endblock %}
  <script src="{{ site.url }}/assets/js/{{ page }}.js"></script>
</body>
</html>
