<footer class="footer">
  <address class="footer__column footer__contacts">
    <p class="footer__item hoverInk"><a href="tel:+1{{ company.contact.phone | replace('.', '') }}"class="footer__text footer__phone">{{ company.contact.phone }}</a></p>
    <p class="footer__item hoverInk"><a href="mailto:{{ company.contact.email }}" class="footer__text footer__email">{{ company.contact.email }}</a></p>
  </address>
  <div class="footer__column footer__column--group footer__company">
    <div class="footer__item footer__item--adjacent footer__disclaimer" data-content="{{ company.disclaimer }}"></div>
    <div class="footer__item footer__item--adjacent footer__signature"></div>
  </div>
  <address class="footer__column footer__location">
    <p class="footer__item hoverInk"><a class="footer__text footer__address">{{ company.location.address }}</a></p>
    <p class="footer__item hoverInk"><a class="footer__text footer__citystate">{{ company.location.city }} , {{ company.location.state }}</a></p>
  </address>
  <ul class="footer__column footer__icons">
    <li class="footer__icon"><a class="footer__iconInner icon--ADA"></a></li>
    <li class="footer__icon"><a class="footer__iconInner icon--EHO"></a></li>
  </ul>
</footer>
