<footer class="footer distress--top">
  <address class="footer__column">
    <ul class="footer__contacts">
      <li class="footer__contact footer__phone">{{ company.contact.phone }}</li>
      <li class="footer__contact footer__email">{{ company.contact.email }}</li>
    </ul>
  </address>
  <div class="footer__column footer__disclaimer"></div>
  <div class="footer__column footer__signature"></div>
  <address class="footer__column">
    <ul class="footer__location">
      <li class="footer__addressLine footer__street">{{ company.location.address }}</li>
      <li class="footer__addressLine footer__cityState">{{ company.location.city }}, {{ company.location.state }}</li>
    </ul>
  </address>
  <ul class="footer__icons">
    <li class="footer__icon footer__icon--FHA"></li>
    <li class="footer__icon footer__icon--EHO"></li>
  </ul>
</footer>
