<header class="navbar distress--bottom">
	<a class="navbar__brandLogo"></a>
	<nav class="navbar__menu navMenu">
		<ul class="navMenu__group">
			<li class="navMenu__item navMenu__item--stacked">Floor Plan</li>
			<li class="navMenu__item navMenu__item--stacked">Features</li>
			<li class="navMenu__item navMenu__item--stacked">Contact Us</li>
		</ul>
		<ul class="navMenu__group">
			<li class="navMenu__item">Check Out<br/>Downtown<br/>Haverhill</li>
		</ul>
		<ul class="navMenu__group">
			<li class="navMenu__item navMenu__item--stacked">J.M. Blog</li>
			<li class="navMenu__item navMenu__item--stacked">Just For Our Residents</li>
		</ul>
	</nav>
	<a class="navbar__brandImage"></a>
	<a class="navbar__toggle">
		<span class="navbar__toggleLine"></span>
		<span class="navbar__toggleLine"></span>
		<span class="navbar__toggleLine"></span>
	</a>
</header>
