<header class="navbar distress--bottom borders--all">
	<a class="navbar__brandLogo"></a>
	<nav class="navbar__menu navMenu borders--horizontal">
		<ul class="navMenu__column">
			<li class="navMenu__item sh--1n3 hoverInk borders--all"><a class="navMenu__text" style="font-size: 1.8vw;letter-spacing: 1.2vw;word-spacing: 0.5vw;margin-left: 1.2vw">Floor Plans</a></li>
			<li class="navMenu__item sh--1n3 hoverInk borders--all"><a class="navMenu__text" style="font-size: 2.4vw;letter-spacing: 2.0vw;word-spacing: 0.5vw;margin-left: 2vw">Features</a></li>
			<li class="navMenu__item sh--1n3 hoverInk borders--all"><a class="navMenu__text" style="font-size: 2.0vw;letter-spacing: 1.4vw;word-spacing: 0vw;margin-left: 1.4vw;">Contact Us</a></li>
		</ul>
		<ul class="navMenu__column">
			<li class="navMenu__item hoverInk borders--all">
        <a class="navMenu__lines">
          <p class="navMenu__line sh--1n3"><span class="navMenu__text" style="font-size: 2.2vw;letter-spacing: 0.85vw;word-spacing: 0.5vw;margin-left: 1.5vw; vertical-align: bottom; margin-bottom: 0.30vw;">Check Out</span></p>
          <p class="navMenu__line sh--1n3"><span class="navMenu__text" style="font-size: 2.2vw;letter-spacing: 0.85vw;word-spacing: 0.5vw;margin-left: 1.5vw; vertical-align: middle; margin-top: 0.00vw;">Downtown</span></p>
          <p class="navMenu__line sh--1n3"><span class="navMenu__text" style="font-size: 2.2vw;letter-spacing: 1.00vw;word-spacing: 0.5vw;margin-left: 1.5vw; vertical-align: top; margin-top: 0.30vw;">Haverhill</span></p>
        </a>
      </li>
		</ul>
		<ul class="navMenu__column">
			<li class="navMenu__item sh--3n8 hoverInk borders--all"><a class="navMenu__text" style="font-size: 2.25vw;letter-spacing: 0.4vw;word-spacing: 0vw;margin-left: 0.5vw;">J.M. Blog</a></li>
			<li class="navMenu__item sh--5n8 hoverInk borders--all">
        <a class="navMenu__lines">
          <p class="navMenu__line sh--1n2"><span class="navMenu__text" style="font-size: 1.65vw;letter-spacing: 0.25vw;word-spacing: 0.25vw;margin-left: 0.00vw;margin-bottom: 0.25vw;vertical-align: bottom;">Just For Our</span></p>
          <p class="navMenu__line sh--1n2"><span class="navMenu__text" style="font-size: 2.00vw;letter-spacing: 0.50vw;word-spacing: 0.00vw;margin-left: 0.20vw;margin-top: 0.25vw;vertical-align: top;">Residents</span></p>
        </a>
      </li>
		</ul>
	</nav>
	<a class="navbar__brandImage borders--all"></a>
	<a class="navbar__toggle">
		<span class="navbar__toggleLine"></span>
		<span class="navbar__toggleLine"></span>
		<span class="navbar__toggleLine"></span>
	</a>
</header>
