<section class="romanceVenue">
  <div class="romanceVenue__panel romanceVenue__panel--image"></div>
  <div class="romanceVenue__panel romanceCaptions">
    <div class="romanceCaptions__wrapper">
      <ul class="romanceCaptions__track">
        <li class="romanceCaptions__caption"></li>
        <li class="romanceCaptions__caption"></li>
        <li class="romanceCaptions__caption"></li>
      </ul>
    </div>
  </div>
  <div class="romanceVenue__panel romanceVenue__panel--image"></div>
</section>
<section class="romanceText">
  <p class="romanceText__paragraph">In molestie est vitae fermentum gravida. Quisque porta velit non tempus malesuada. Fusce vulputate congue enim, nec interdum dolor sodales et. Fusce congue mattis iaculis. Morbi tincidunt, leo id auctor varius, dui nulla sodales nibh, imperdiet tristique nisi orci nec est. Etiam tortor metus, fringilla eget risus sed, consequat faucibus nibh. Proin tempor nunc eu imperdiet tristique. Curabitur mattis tincidunt mi, vitae egestas orci euismod at.</p>
</section>
