<section class="featuresCarousel">
  <section class="featureList">
    <ul class="featureList__items">
      {% for feature in features %}
        <li class="featureList__item">{{ feature.content }}</li><br/>
      {% endfor %}
    </ul>
  </section>
  <div class="featuresCarousel__frame">
    <ul class="featuresCarousel__track">
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/kitchen.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/interior_1.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/corner_unit.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/interior_2.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/corridor.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/lobby.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(assets/img/features/restaurant.jpg);"></li>
    </ul>
  </div>
  <div class="featuresCarousel__bullets"></div>
</section>
<section class="romanceText">
  <p class="romanceText__paragraph">Original. Modern. Stylish. These words can be used to describe JM Lofts’ uniquely designed apartments as well as those who call them home. Each apartment feature luxury hard surface flooring, exposed brick, beams, high ceilings, in-unit washers and dryers, and gourmet kitchen with dark granite countertops and energy efficient white appliances. Choose JM Lofts for your next apartment home!</p>
</section>
