<div class="sectionImage"></div>
<section class="locationsMap">
  <nav class="locationsMap__ui mapUI">
    <ul class="mapUI__categories">
      {% for category in locations | values('category') %}
        <li class="mapUI__category" data-category="{{ category }}">
          <button class="mapUI__button" data-category="{{ category }}">
            <div class="mapUI__buttonIcon">
              <img class="mapUI__buttonSVG" src="assets/img/map_icons/icon-{{ category | strip }}.svg">
            </div>
            <span class="mapUI__buttonLabel">{{ category | replace('/', ' &amp; ') }}</span>
          </button>
          <ul class="mapUI__locations" data-category="{{ category }}">
          {% for location in locations | filter('category', category, 'equals') %}
            <li class="mapUI__location"><span class="mapUI__locationLabel">{{ location.name }}</span></li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="locationsMap__ui locationsMap__map"></div>
</section>
<section class="romanceText">
  <p class="romanceText__paragraph">Cras eleifend erat orci, eu scelerisque lorem cursus quis. Ut non odio eu ante imperdiet lobortis sed vitae odio. Nunc id lacus non lorem tempus consectetur. Curabitur accumsan neque nisl, eget dignissim velit ultrices non. Nullam viverra dui vitae nisl blandit, at tempus eros cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum ultrices facilisis. Mauris vitae ante aliquet, mattis nunc a, feugiat tortor. Nam aliquet porttitor enim eget cursus.</p>
</section>
