<div class="romanceText">
  <p class="romanceText__paragraph">Find the floor plan that fits your lifestyle. J.M. Lofts offers uniquely designed one- and two- bedroom apartment homes for rent.</p>
  <p class="romanceText__paragraph romanceText__paragraph--minor">One-Bedroom Apartments starting at $1,425*</p>
  <p class="romanceText__paragraph romanceText__paragraph--minor">Two-Bedroom Apartments starting at $1,600*</p>
  <p class="romanceText__paragraph romanceText__paragraph--minor">* Rents subject to change. Apartments are ADA compliant. Equal housing opportunity.</p>
</div>
<div class="unitTables">
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <span class="unitTable__caption">One Bed</span>
        <span class="unitTable__caption">One Bath</span>
      </figcaption>
      <div class="unitTable__table">
        <div class="unitTable__body">
          {% for unit in units %}{% if unit.br == 1 %}
            <div class="unitTable__row" data-unit-un="{{ unit.un }}" data-unit-br="{{ unit.br }}" data-unit-ba="1" data-unit-sf="{{ unit.sf }}" data-unit-image="{{ plans[unit.un] }}">
              <div class="unitTable__cell unitTable__cell--ID">{{ unit.un }}</div>
              <div class="unitTable__cell unitTable__cell--SF">{{ unit.sf | replace('\B(?=(\d{3})+(?!\d))', ',', 'g') }}</div>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>
    </figure>
  </div>
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <span class="unitTable__caption">Two Bed</span>
        <span class="unitTable__caption">One Bath</span>
      </figcaption>
      <div class="unitTable__table">
        <div class="unitTable__body">
          {% for unit in units %}{% if unit.br == 2 %}
            <div class="unitTable__row" data-unit-un="{{ unit.un }}" data-unit-br="{{ unit.br }}" data-unit-ba="1" data-unit-sf="{{ unit.sf }}" data-unit-image="{{ plans[unit.un] }}">
              <div class="unitTable__cell unitTable__cell--ID">{{ unit.un }}</div>
              <div class="unitTable__cell unitTable__cell--SF">{{ unit.sf | replace('\B(?=(\d{3})+(?!\d))', ',', 'g') }}</div>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>
    </figure>
  </div>
</div>
