<form class="contactForm" novalidate>
  <input type="text" class="contactForm__field contactForm__field--inline" name="fname" id="contactForm--fname" placeholder="First Name*">
  <input type="text" class="contactForm__field contactForm__field--inline" name="lname" id="contactForm--lname" placeholder="Last Name*">
  <input type="email" class="contactForm__field" name="email" id="contactForm--email" placeholder="Email*">
  <input type="phone" class="contactForm__field" name="phone" id="contactForm--phone" placeholder="Phone">
  <textarea name="message" class="contactForm__field contactForm__field--textarea" id="contactForm--message" placeholder="Message"></textarea>
  <input type="submit" class="contactForm__submit" value="submit">
  <span class="contactForm__hint">*required fields</span>
</form>
<div class="contactInformation">
  <h3 class="contactInformation__availability">Open by Appointment</h3>
  <p class="contactInformation__company">{{ company.hq.name }}</p>
  <ul class="contactInformation__contacts">
    <li class="contactInformation__contact"><address>{{ company.hq.address }}</address></li>
    <li class="contactInformation__contact"><a href="tel:{{ company.hq.phone }}">{{ company.hq.phone }}</a></li>
    <li class="contactInformation__contact"><a href="mailto:{{ company.hq.url }}">{{ company.hq.url }}</a></li>
  </ul>
</div>
