<section class="romanceText">
  <p class="romanceText__paragraph">Maecenas eget nunc vitae nunc laoreet suscipit at a mauris. Vivamus ex velit, luctus auctor lectus in, hendrerit aliquet dolor. Etiam a nunc fringilla, maximus sem nec, pretium arcu. Nunc vel volutpat urna. Fusce arcu arcu, tincidunt cursus vulputate vitae, aliquet sit amet erat. Sed eget urna sed orci eleifend hendrerit sit amet sit amet magna. Praesent et ornare quam. Sed porttitor pretium diam fermentum porta. Duis pretium risus in mi finibus, eget gravida massa consequat. Mauris cursus neque ac neque facilisis gravida.</p>
</section>
<section class="unitTables">
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <div class="unitTable__caption">One Bed</div>
        <div class="unitTable__caption">One Bath</div>
      </figcaption>
      <table class="unitTable__table">
        <tr class="unitTable__row">
          <td class="unitTable__cell unitTable__cell--ID">201</td>
          <td class="unitTable__cell unitTable__cell--SQ">750</td>
          <td class="unitTable__cell unitTable__cell--PR">1400</td>
        </tr>
      </table>
    </figure>
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <div class="unitTable__caption">One Bed</div>
        <div class="unitTable__caption">One Bath</div>
      </figcaption>
      <table class="unitTable__table">
        <tr class="unitTable__row">
          <td class="unitTable__cell unitTable__cell--ID">201</td>
          <td class="unitTable__cell unitTable__cell--SQ">750</td>
          <td class="unitTable__cell unitTable__cell--PR">1400</td>
        </tr>
      </table>
    </figure>
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <div class="unitTable__caption">One Bed</div>
        <div class="unitTable__caption">One Bath</div>
      </figcaption>
      <table class="unitTable__table">
        <tr class="unitTable__row">
          <td class="unitTable__cell unitTable__cell--ID">201</td>
          <td class="unitTable__cell unitTable__cell--SQ">750</td>
          <td class="unitTable__cell unitTable__cell--PR">1400</td>
        </tr>
      </table>
    </figure>
  </div>
</section>
