<div class="sectionImage"></div>
<section class="locationsMap">
  <nav class="locationsMap__ui mapUI">
    <ul class="mapUI__categories">
      {% for category in locations | values('category', ['master', 'transportation']) %}
        <li class="mapUI__category" data-category="{{ category }}">
          <button class="mapUI__button" data-category="{{ category }}">
            <div class="mapUI__buttonIcon">
              <object class="mapUI__buttonSVG" type="image/svg+xml" data="assets/img/map_icons/categories.sprites.svg#{{ category | replace('/', '-') | lower }}"></object>
            </div>
            <span class="mapUI__buttonLabel">{{ category | replace('/', ' &amp; ') }}</span>
          </button>
          <ul class="mapUI__locations" data-category="{{ category }}">
          {% for location in locations | filter('category', category, 'equals') %}
            <li class="mapUI__location" data-category="{{ category }}" data-name="{{location.name}}"><span class="mapUI__locationLabel">{{ location.name }}</span></li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="locationsMap__ui locationsMap__map"></div>
</section>
<section class="romanceText">
  <p class="romanceText__paragraph">Live original. Live in Downtown Haverhill. With over 25 unique restaurants and pubs, several eclectic shops and salons, and the MBTA Commuter Rail steps from your front door, you’ll have everything you need within reach. Downtown Haverhill’s historic vibe and Arts District provide a unique and fun setting for you to call home. For more information on Haverhill and the city’s local events visit our JM Blog.</p>
</section>
