<div class="romanceVenue">
  <div class="romanceVenue__panel romanceVenue__panel--image"></div>
  <div class="romanceVenue__panel romanceCaptions">
    <div class="romanceCaptions__frame">
      <ul class="romanceCaptions__track">
        <li class="romanceCaptions__caption" style="background-image: url(assets/img/type-charm_living.png);"></li>
        <li class="romanceCaptions__caption" style="background-image: url(assets/img/type-bedrooms.png);"></li>
        <li class="romanceCaptions__caption" style="background-image: url(assets/img/type-downtown_haverhill.png);"></li>
      </ul>
    </div>
  </div>
  <div class="romanceVenue__panel romanceVenue__panel--image"></div>
</div>
<div class="romanceText">
    <p class="romanceText__paragraph">Historic charm meets modern living at J.M. Lofts, a brand new upscale apartment community located in the heart of downtown Haverhill. Originally built in 1882, this one-time shoe factory has been completely renovated into 18 beautifully designed one- and two-bedroom apartment homes. Each modern unit offers an open floor plan with high ceilings, and exposed brick and beams.</p>
    <p class="romanceText__paragraph">Situated on vibrant Washington Street, J.M. Lofts is just steps from independent restaurants, boutique shopping and Haverhill’s Waterfront and Arts Districts. J.M. Lofts is just a minute walk to the MBTA Commuter Rail that takes you into Boston’s North Station in 45 minutes as well as a quick drive to Interstates 495, 93 and 95 for those who are commuting for work or for play. The community is pet-friendly and provides 24-hour on-call maintenance. Live original. Live at J.M. Lofts.</p>
</div>
