<form class="contactForm" novalidate>
  <input type="text" class="contactForm__field" name="fname" id="contactForm--fname">
  <input type="text" class="contactForm__field" name="lname" id="contactForm--lname">
  <input type="email" class="contactForm__field" name="email" id="contactForm--email">
  <input type="phone" class="contactForm__field" name="phone" id="contactForm--phone">
  <textarea name="message" id="contactForm--message"></textarea>
  <input type="submit" class="contactForm__submit" value="submit">
  <span class="contactForm__hint">*required fields</span>
</form>
<div class="contactInformation">
  <h3 class="contactInformation__availability">Open by Appointment</h3>
  <p class="contactInformation__company">Traggorth Companies</p>
  <ul class="contactInformation__contacts">
    <li class="contactInformation__contact"><address>{{ company.hq.address }}</address></li>
    <li class="contactInformation__contact"><a href="tel:{{ company.hq.phone }}">{{ company.hq.phone }}</a></li>
    <li class="contactInformation__contact"><a href="mailto:{{ company.hq.email }}">{{ company.hq.email }}</a></li>
  </ul>
</div>
