<section class="featureList">
  <ul class="featureList__items">
    {% for feature in features %}
      <li class="featureList__item" data-feature="{{ feature | strip }}">{{ feature }}</li>
    {% endfor %}
  </ul>
</section>
<section class="featuresCarousel">
  <div class="featuresCarousel__frame">
    <ul class="featuresCarousel__track">
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
      <li class="featuresCarousel__item" style="background-image: url(../img/features/pet-friendly.jpg);"></li>
    </ul>
  </div>
  <div class="featuresCarousel__bullets"></div>
</section>
<section class="romanceText">
  <p class="romanceText__paragraph">Vestibulum non enim vehicula, dictum lacus eu, rhoncus quam. Sed molestie elit sit amet ipsum finibus, sed finibus augue tempus. Cras egestas turpis nec leo vestibulum, at viverra ex lobortis. Sed iaculis quis risus nec luctus. Nulla nunc lorem, vestibulum ac varius a, pharetra et est. Donec faucibus vel est in dapibus. In accumsan a libero et egestas. Phasellus viverra, leo dapibus vehicula feugiat, nunc eros ultricies diam, nec accumsan mauris elit vel enim. Integer sit amet metus ultrices purus faucibus elementum eget vehicula odio. Etiam elementum quam nec pulvinar malesuada. Quisque at nulla augue.</p>
</section>
