<section class="romanceText">
  <p class="romanceText__paragraph">Maecenas eget nunc vitae nunc laoreet suscipit at a mauris. Vivamus ex velit, luctus auctor lectus in, hendrerit aliquet dolor. Etiam a nunc fringilla, maximus sem nec, pretium arcu. Nunc vel volutpat urna. Fusce arcu arcu, tincidunt cursus vulputate vitae, aliquet sit amet erat. Sed eget urna sed orci eleifend hendrerit sit amet sit amet magna. Praesent et ornare quam. Sed porttitor pretium diam fermentum porta. Duis pretium risus in mi finibus, eget gravida massa consequat. Mauris cursus neque ac neque facilisis gravida.</p>
</section>
<section class="unitTables">
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <span class="unitTable__caption">One Bed</span>
        <span class="unitTable__caption">One Bath</span>
      </figcaption>
      <table class="unitTable__table">
        <tbody class="unitTable__body">
          {% for unit in units %}{% if unit.br == 1 %}
            <tr class="unitTable__row" data-unit-un="{{ unit.un }}" data-unit-br="{{ unit.br }}" data-unit-ba="1" data-unit-sf="{{ unit.sf }}">
              <td class="unitTable__cell unitTable__cell--ID">{{ unit.un }}</td>
              <td class="unitTable__cell unitTable__cell--SF">{{ unit.sf | replace('\B(?=(\d{3})+(?!\d))', ',', 'g') }}</td>
            </tr>
          {% endif %}{% endfor %}
        </tbody>
      </table>
    </figure>
  </div>
  <div class="unitTables__column">
    <figure class="unitTable">
      <figcaption class="unitTable__captions">
        <span class="unitTable__caption">Two Bed</span>
        <span class="unitTable__caption">One Bath</span>
      </figcaption>
      <table class="unitTable__table">
        <tbody class="unitTable__body">
          {% for unit in units %}{% if unit.br == 2 %}
            <tr class="unitTable__row" data-unit-un="{{ unit.un }}" data-unit-br="{{ unit.br }}" data-unit-ba="1" data-unit-sf="{{ unit.sf }}">
              <td class="unitTable__cell unitTable__cell--ID">{{ unit.un }}</td>
              <td class="unitTable__cell unitTable__cell--SF">{{ unit.sf | replace('\B(?=(\d{3})+(?!\d))', ',', 'g') }}</td>
            </tr>
          {% endif %}{% endfor %}
        </tbody>
      </table>
    </figure>
  </div>
</section>
