.sh--1n2 {
  height: calc(100%/2) !important;
}
.sh--1n3 {
  height: calc(100%/3) !important;
}
.sh--3n8 {
  height: calc(300%/8) !important;
}
.sh--5n8 {
  height: calc(500%/8) !important;
}

@mixin scaleH($ratio) {
  height: calc(100% * ($ratio)) !important;
}
@mixin scaleW($ratio) {
  width: calc(100% * ($ratio)) !important;
}
@mixin crossH($ratio) {
  height: 0 !important;
  padding-bottom: calc(100% * ($ratio)) !important;
}

@mixin hoverInk {
  position: relative;
  background-color: rgba($sable,1) !important;
  transition: background-color 300ms easeInOutQuad;
  &:hover, &:focus {
    background-color: rgba(0,0,0,0) !important;
  }
  &:before {
    content: '';
    position: absolute;
    size: 100%;
    top: 0;left: 0;
    z-index: -1;
    background: url(../img/rolled_ink.png) center / 100% 95% no-repeat;
  }
}
