.sh--1n2 {
  height: calc(100%/2) !important;
}
.sh--1n3 {
  height: calc(100%/3) !important;
}
.sh--3n8 {
  height: calc(300%/8) !important;
}
.sh--5n8 {
  height: calc(500%/8) !important;
}

@mixin scaleH($ratio) {
  height: calc(100% * ($ratio)) !important;
}
@mixin scaleW($ratio) {
  width: calc(100% * ($ratio)) !important;
}
@mixin crossH($ratio) {
  height: 0 !important;
  padding-bottom: calc(100% * ($ratio)) !important;
}

@mixin hoverInkSelf {
  &:hover, &:focus {
    background: url(__SITEURL__/assets/img/rolled_ink.png) center / 100% 95% no-repeat;
  }
}
@mixin hoverInk {
  position: relative;
  &:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    size: 100%;
    top: 0;left: 0;
    z-index: -1;
    background: url(__SITEURL__/assets/img/rolled_ink.png) center / 100% 80% no-repeat;
    opacity: 0;
    transition: opacity 300ms easeInOutQuad;
  }
  &:hover:before, &:focus:before {
    opacity: 1;
  }
}
@mixin hoverPaint {
  &:hover, &:focus {
    background: url(__SITEURL__/assets/img/rolled_ink.png) center center / 100% 80% no-repeat;
  }
}

@mixin smoothText {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
