$black: rgb(35, 31, 32);
$sable: rgb(244, 238, 229);

$gotham: 'Montserrat', arial, sans-serif;
$scala: 'IM Fell Great Primer SC', serif !important;
$baskerville: 'Goudy Bookletter 1911', serif !important;

$border-thick: 0.65vw;
$navHeight: (100vw * (2/16.5));
