<div class="contactForm">
  <form class="contactForm__form" novalidate>
    <label class="contactForm__field contactForm__field--inline">
      <!--[if IE 9]><p class="contactForm__label">First Name*</p><![endif]-->
      <input type="text" class="contactForm__input" name="fname" id="contactForm--fname" placeholder="First Name*" required>
    </label>
    <label class="contactForm__field contactForm__field--inline">
      <!--[if IE 9]><p class="contactForm__label">Last Name*</p><![endif]-->
      <input type="text" class="contactForm__input" name="lname" id="contactForm--lname" placeholder="Last Name*" required>
    </label>
    <label class="contactForm__field">
      <!--[if IE 9]><p class="contactForm__label">Email</p><![endif]-->
      <input type="email" class="contactForm__input" name="email" id="contactForm--email" placeholder="Email*" data-pattern="email" required>
    </label>
    <label class="contactForm__field">
      <!--[if IE 9]><p class="contactForm__label">Phone</p><![endif]-->
      <input type="tel" class="contactForm__input" name="phone" id="contactForm--phone" placeholder="Phone" data-pattern="phone">
    </label>
    <label class="contactForm__field">
      <!--[if IE 9]><p class="contactForm__label">Message</p><![endif]-->
      <textarea name="message" class="contactForm__input contactForm__input--textarea" id="contactForm--message" placeholder="Message"></textarea>
    </label>
    <input type="submit" class="contactForm__submit" value="submit">
    <span class="contactForm__hint">*required fields</span>
  </form>
  <div class="contactForm__note">
    <p class="contactForm__message">Thank you!<br/>Our leasing staff will be in touch shortly.</p>
  </div>
</div>
<div class="contactInformation">
  <h3 class="contactInformation__availability">Open by Appointment</h3>
  <p class="contactInformation__company">{{ company.hq.name }}</p>
  <ul class="contactInformation__contacts">
    <li class="contactInformation__contact"><address>{{ company.hq.address }}</address></li>
    <li class="contactInformation__contact"><a href="tel:{{ company.hq.phone }}">{{ company.hq.phone }}</a></li>
    <li class="contactInformation__contact"><a href="{{ company.hq.url }}">{{ company.hq.url }}</a></li>
  </ul>
</div>
<p class="contactInsertion">To inquire about leasing retail space, please contact Powers and Associates at <a href="tel:16176946922">617.694.6922</a> or <a href="mailto:mary@powersandco.com">mary@powersandco.com</a>.</p>
