<div class="downtownMap">
  <div class="downtownMap__frame">
    <div class="downtownMap__track">
      <nav class="downtownMap__item mapMenu">
        <ul class="mapMenu__categories">
          {% for category in locations | values('category', ['master', 'transportation']) %}
            {% set categoryIcon = "assets/img/map_icons/button-" + category | replace('/', '_') | lower + ".svg" %}
            {% set categoryLabel = category | replace('/', ' &amp; ') | safe %}
            <li class="categoryItem" data-category="{{ category }}">
              <button class="categoryItem__button" data-category="{{ category }}">
                <img src="{{ categoryIcon }}" alt="{{ category }}" class="categoryItem__icon">
                <span class="categoryItem__label">{{ categoryLabel }}</span>
              </button>
              <ul class="mapMenu__locations">
                <li class="locationItem">
                  <span class="locationItem__label"></span>
                </li>
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="downtownMap__item mapCanvas">
        <div class="mapCanvas__frame"></div>
        <button class="mapCanvas__filter">Filter</button>
      </div>
    </div>
  </div>
</div>
