@import './library/*.css';
@import './theme/*.css';
@import './modules/navbar.css';
@import './modules/footer.css';

.page {
  border: none;
}
.navbar {
  position: absolute;
}

.application {
  margin: 0 auto;
  position: relative;
  @media (width >= 1000px) {
    width: 46%;
  }
  @media (width >= 800px) {
    width: 60%;
  }
  @media (width < 800px) {
    width: 80%;
  }
}
.application__headline {
  text-align:center;
  margin:60px auto;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  @include smoothText;
}
.application__hint {
  display: block;
  text-align: center;
  font-family: $scala;
  @media (width >= 1000px) {
    font-size: 1.35vw;
  }
  @media (width < 1000px) {
    font-size: 2.00vw;
  }
  @media (width < 600px) {
    font-size: 4.25vw;
  }
}
.application__form {}
.application__disclaimer {
  font-size: 12px;
  margin: 60px auto;
  text-transform: uppercase;
  p {
    font-size: 12px;
    line-height: 16px;
    margin: 30px auto;
  }
}
.application__mailingAddress {
  font-size: 12px;
  text-align: center;
  p { margin: 0; }
}
.application__note {}
.application__message {}



.form__legend {
  font-size: 1vw;
  line-height: 5vw;
  text-transform: uppercase;
  z-index: -1;
  @media (width < 600px) {
    font-size: 4vw;
    line-height: 5vw;
    padding: 30px 0 15px;
  }
}
.form__field {
  clear: both;
  margin-bottom: 40px !important;
}

.form__field--right {
  float: right;
}
.form__field--full {
  width: 100%;
}
.form__field--checkbox.form__field--inline {
  width: auto;
}

.form__field[data-error]:after {
  font-size: 1vw;
  font-family: $scala;
  color: #af614e;
  text-shadow: none;
  text-transform: lowercase;
}

.form__label {
  color: $black;
  text-transform: none;
  @media (width >= 1000px) {
    margin-bottom: 0.80vw;
    font-size: 1.00vw;
  }
  @media (width < 1000px) {
    margin-bottom: 1vw;
    font-size: 2.25vw;
  }
  @media (width < 600px) {
    margin-bottom: 2vw;
    font-size: 3.50vw;
  }
}
.form__label--check {
  display: inline;
  padding:0 15px;
  @media (width >= 1000px) {
    font-size: 1vw;
  }
  @media (width < 1000px) {
    font-size: 1.25vw;
  }
  @media (width < 600px) {
    font-size: 3.00vw;
  }
}
.form__input {
  display: inline-block;
  background: #ffffff;
}
.form__input[type="checkbox"] {
  vertical-align: baseline;
  width: auto;
}
.form__input::placeholder-shown,
.form__input::-webkit-input-placeholder,
.form__input::placeholder {
  text-transform: none;
  color: #888687;
}
