@import './vendors/*.css';
@import './library/*.css';
@import './theme/*.css';
@import './modules/navbar.css';
@import './modules/footer.css';

.page {
  display: block;
  margin: 0 auto;
}
.page__content {
  display: inline-block;
  max-width: none;
  position: relative;
  size: 100% !important;
  text-align: center;
  background-color: $sable;
  @media (width >= 800px) {
    height: calc(100vh - $navHeight - 10vw - 1.1vw) !important;
  }
}
.page__content:before {
  content: '';
  display: inline-block;
  position: relative;
  size: 0 100%;
  vertical-align: middle;
  background: red;
}
.page__disclaimer {
  display: inline-block;
  font-size: 50px;
  vertical-align: middle;
  text-transform: uppercase;
  @media (width < 800px) {
    padding: 30vh 0;
  }
}
