.page {
  border: $border-thick solid $black;
  @media (width < 700px) {
    padding: calc($navHeight - 0.5px) 0 0;
  }
}
.page.is-locked {
  overflow-y: hidden;
}
.page__content {
  margin: 0 auto;
  background-color: $sable;
}
.page__section {
  position: relative;
}
.page__overlay {
  position: fixed;
  size: 100vw 200vh;
  top: 0;left: 0;
  background-color: rgba($black, 0.75);
  transition: opacity 300ms ease;
  opacity: 0;
  z-index: -1;
}
.page__overlay.is-active {
  opacity: 1;
  z-index: 10;
}
.page__overlay.not-active {
  animation-name: overlayFadeOut;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes overlayFadeOut {
  0% {
    opacity: 1;
    z-index: 10;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.sectionImage {
  width: 100%;
  height: 40vw;
  background: url(../img/washington_street.jpg) no-repeat center 90% / cover;
}
#section--contact {
  padding: 8vw 0 3vw;
  background: url(../img/features/corridor.jpg) no-repeat center / cover;
}
