.page {
  border: $border-thick solid $black;
  @media (width < 700px) {
    padding: calc($navHeight - 0.5px) 0 0;
  }
}
.page.is-locked {
  overflow-y: hidden;
}
.page__content {
  margin: 0 auto;
  background-color: $sable;
}
.page__overlay {
  display: none;
  position: fixed;
  size: 100vw 200vh;
  top: 0;left: 0;
  background-color: rgba($black, 0.75);
  z-index: 10;
}
