.borders--all {
  background-image: url(../img/border-vertical.svg), url(../img/border-vertical.svg), url(../img/border-horizontal.svg), url(../img/border-horizontal.svg);
  background-origin: border-box;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: left calc(000% - 6px), left calc(100% + 6px), calc(000% - 6px) center, calc(100% + 7px) center;
  background-size: auto 10px, auto 10px, 10px auto, 10px auto;
}
.borders--top {
  background-image: url(../img/border-vertical.svg);
  background-origin: border-box;
  background-repeat: repeat-x;
  background-position: calc(000% - 6px) left;
  background-size: auto 10px;
}
.borders--bottom {
  background-image: url(../img/border-vertical.svg);
  background-origin: border-box;
  background-repeat: repeat-x;
  background-position: calc(100% + 6px) left;
  background-size: auto 10px;
}
.borders--left {
  background-image: url(../img/border-horizontal.svg);
  background-origin: border-box;
  background-repeat: repeat-y;
  background-position: calc(000% - 6px) center;
  background-size: 10px auto;
}
.borders--right {
  background-image: url(../img/border-horizontal.svg);
  background-origin: border-box;
  background-repeat: repeat-y;
  background-position: calc(100% + 6px) center;
  background-size: 10px auto;
}
.borders--vertical {
  background-image: url(../img/border-vertical.svg), url(../img/border-vertical.svg);
  background-origin: border-box;
  background-repeat: repeat-x, repeat-x;
  background-position: left calc(000% - 6px), left calc(100% + 6px);
  background-size: auto 10px, auto 10px;
}
.borders--horizontal {
  background-image: url(../img/border-horizontal.svg), url(../img/border-horizontal.svg);
  background-origin: border-box;
  background-repeat: repeat-y, repeat-y;
  background-position: calc(000% - 6px) center, calc(100% + 7px) center;
  background-size: 10px auto, 10px auto;
}
