.romanceText {
  margin: 0 auto;
  padding: 4vw 0 6vw;
  width: 80%;
  @media (width >= 700px) { padding: 4vw 0 6vw; }
  @media (width < 700px) { padding: 10vw 0 14vw; }
}
.romanceText__paragraph {
  font-family: 'Fanwood Text', serif;
  font-size: 1.9vw;
  font-variant: small-caps;
  text-align: justify;
  @media (width < 700px) {
    font-size: 5vw;
  }
}
.romanceText__paragraph--minor {
  font-size: 1.70vw;
  text-align: left;
  @media (width >= 1000px) {
    margin-top: 2vw;
  }
  @media (700px < width < 1000px) {
    margin-top: 4vw;
  }
  @media (width < 700px) {
    margin-top: 6vw;
  }
}
