.type__container {}
.type--paragraph {
  margin-bottom: 1.50rem;
  text-align: justify;
}
.type--paragraph:first-of-type {
  text-indent: 2.50rem;
}
.type--paragraph:last-of-type {
  margin-bottom: 0;
}
.type--headline {}
.type--descriptor {}
.type--delineated {}
