<header class="navbar">
  <div class="navbar__wrapper">
    <a href="{{ site.url }}" class="navbar__column navbar__brandLogo"></a>
  	<nav class="navbar__column navbar__menu navMenu">
  		<ul class="navMenu__column">
  			<li class="navMenu__item sh--1n3"><a class="navMenu__link" href="{{ site.url }}/#section--floorplans" data-scry="#section--floorplans"><span class="navMenu__text" data-content="Floor Plans">Floor Plans</span></a></li>
  			<li class="navMenu__item sh--1n3"><a class="navMenu__link" href="{{ site.url }}/#section--features" data-scry="#section--features"><span class="navMenu__text" data-content="Features">Features</span></a></li>
  			<li class="navMenu__item sh--1n3"><a class="navMenu__link" href="{{ site.url }}/#section--contact" data-scry="#section--contact"><span class="navMenu__text" data-content="Contact Us">Contact Us</span></a></li>
  		</ul>
  		<ul class="navMenu__column">
  			<li class="navMenu__item">
          <a class="navMenu__link" href="{{ site.url }}/#section--downtown" data-scry="#section--downtown"><p class="navMenu__lines">
            <span class="navMenu__line sh--1n3"><span class="navMenu__text navMenu__text--line" data-content="Check Out">Check Out</span></span>
            <span class="navMenu__line sh--1n3"><span class="navMenu__text navMenu__text--line" data-content="Downtown">Downtown</span></span>
            <span class="navMenu__line sh--1n3"><span class="navMenu__text navMenu__text--line" data-content="Haverhill">Haverhill</span></span>
          </p></a>
        </li>
  		</ul>
  		<ul class="navMenu__column">
  			<li class="navMenu__item sh--1n3"><a href="{{ site.url }}/blog" class="navMenu__link"><span class="navMenu__text" data-content="J.M. Blog">J.M. Blog</span></a></li>
  			<li class="navMenu__item sh--1n3">
          <a href="{{ site.url }}/residents" class="navMenu__link">
            <span class="navMenu__text navMenu__text--line" data-content="Residents">Residents</span>
          </a>
        </li>
        <li class="navMenu__item sh--1n3">
          <a href="{{ site.url }}/application" class="navMenu__link">
            <span class="navMenu__text  navMenu__text--line" data-content="Residents">Apply</span>
          </a>
        </li>
  		</ul>
  	</nav>
  	<a class="navbar__column navbar__brandImage"></a>
  	<div class="navbar__column navbar__toggle">
  		<span class="navbar__toggleLine"></span>
  		<span class="navbar__toggleLine"></span>
  		<span class="navbar__toggleLine"></span>
  	</div>
  </div>
</header>
