<div class="unitModal">
  <ul class="unitModal__details">
    <li class="unitModal__detail" id="unitModal--br">One</li>
    <li class="unitModal__detail" id="unitModal--ba">One</li>
    <li class="unitModal__detail" id="unitModal--sf">750</li>
    <li class="unitModal__detail unitModal__detail--unit" id="unitModal--un">402</li>
  </ul>
  <figure class="unitModal__figure">
    <div class="unitModal__plan"></div>
    <a href="" target="_blank" class="unitModal__link">Download PDF</a>
    <figcaption class="unitModal__disclaimer">These floor plans are intended for illustrative purposes only and are not to scale; square foot measurements are aproximate and configurations may vary from unit to unit.</figcaption>
  </figure>
</div>
