.featureList {
  background-color: rgba($black, 0.8);
  @media (width >= 800px) {
    position: absolute;
    top: 50%;left: 0;
    width: 30%;
    z-index: 1;
    transform: translateY(-50%);
  }
  @media (800px <= width < 1000px) { width: 35%; }
}

.featureList__items {
  margin: 0 auto;
  padding: 2.00rem 10%;
  size: 100% auto;
  @media (width >= 800px) {
    padding: 2.00rem 1.00rem;
  }
}

.featureList__item {
  display: block;
  margin-bottom: 1.00rem;
  padding-left: 1.50rem;
  color: $sable;
  font-family: $scala;
  font-size: 1.20rem;
  letter-spacing: 0.05rem;
  line-height: 1.20rem;
  text-indent: -1.50rem;
  @media (800px <= width < 900px) {
    margin-bottom: 0.60rem;
    font-size: 1.00rem;
  }
}
.featureList__item:first-of-type { margin-top: 0; }
.featureList__item:last-of-type { margin-bottom: 0; }
.featureList__item:before {
  content: '';
  display: inline-block;
  margin-right: calc(1.50rem - 0.20rem);
  position: relative;
  size: .20rem;
  vertical-align: middle;
  background-color: $sable;
}
