.featuresCarousel {
  position: relative;
}
.featuresCarousel__frame {
  overflow: hidden;
  position: relative;
  size: 100% 60vw;
  touch-action: none;
}
.featuresCarousel__track {
  display: inline-block;
  size: 100%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.featuresCarousel__item {
  display: inline-block;
  position: relative;
  size: 100%;
  background: no-repeat center center / cover;
}
.featuresCarousel__bullets {
  position: absolute;
  size: 100% auto;
  bottom: 0.25vw;left: 0%;
  text-align: center;
}
.featuresCarousel__bullet {
  size: 1.00vw;
  border: 2px solid $sable;
  background-color: transparent;
  border-radius: 100%;
  outline: none;
  @media (width < 800px) {
    size: 15px;
  }
}
.featuresCarousel__bullet:nth-last-child(n+2) {
  margin-right: 0.80vw;
  @media (width < 800px) {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.featuresCarousel__bullet.active,
.featuresCarousel__bullet:hover {
  background-color: $sable;
}
