.featureList {
  size: 100%;
  background: $black;
  @media (width >= 800px) {
    max-height: 85%;
    max-width: 30%;
    overflow-y: auto;
    position: absolute;
    size: auto;
    top: 50%;left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.featureList__items {
  @media (width >= 800px) {
    padding: 2.25vw 0 2.25vw 2%;
  }
  @media (width < 800px) {
    margin: 0 auto;
    padding: 6vw 0;
    width: 70%;
  }
}
.featureList__item {
  display: inline-block;
  max-width: 100%;
  position: relative;
  size: auto;
  color: $sable;
  font-family: $baskerville;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  list-style: none;
  padding-left: 2.00em;
  text-indent: -2.00em;
  @media (width >= 800px) {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    margin: 0.35vw 0;
    font-size: 1.80vw;
  }
  @media (width < 800px) {
    padding: 2.00vw;
    font-size: 4.30vw;
  }
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}
.featureList__item:before {
  content: '';
  display: inline-block;
  margin-right: 1.00em;
  margin-left: 0.70em;
  position: relative;
  size: 0.30em;
  vertical-align: middle;
  background: $sable;
}
