.featuresCarousel {
  padding-bottom: 65%;
  position: relative;
  size: 100% 0;
}
.featuresCarousel__frame {
  overflow: hidden;
  position: absolute;
  size: 100% 100%;
  touch-action: none;
}
.featuresCarousel__track {
  display: inline-block;
  size: 100%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.featuresCarousel__item {
  display: inline-block;
  position: relative;
  size: 100%;
  background: no-repeat center center / cover;
}
.featuresCarousel__bullets {
  margin-bottom: 1.00rem;
  position: absolute;
  size: 100% auto;
  bottom: 0;left: 0;
  text-align: center;
  @media (width < 800px) {
    margin-bottom: 0.50rem;
  }
}
.featuresCarousel__bullet {
  size: 1.00rem;
  border: 1px solid $sable;
  background-color: transparent;
  border-radius: 0 !important;
  outline: none;
  @media (width < 800px) {
    /*size: 0.60rem;*/
  }
}
.featuresCarousel__bullet:nth-last-child(n+2) {
  margin-right: 1.00rem;
  @media (width < 800px) {
    /*margin-right: 10px;*/
  }
}
.featuresCarousel__bullet.active,
.featuresCarousel__bullet:hover {
  background-color: $sable;
}
