.featuresCarousel {
  position: relative;
}
.featuresCarousel__frame {
  overflow: hidden;
  position: relative;
  size: 100% 60vw;
  touch-action: none;
}
.featuresCarousel__track {
  display: inline-block;
  size: 100%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.featuresCarousel__item {
  display: inline-block;
  position: relative;
  size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.featuresCarousel__bullets {}
.featuresCarousel__bullet {}
