.heroCarousel {
  size: 100% calc(100vw * (5.5/8));
  background-image: url('../img/brand-pattern.svg');
  background-position: top left;
  background-repeat: repeat;
  background-size: 3vw 3vw;
}
.heroCarousel__frame {
  overflow: hidden;
  size: 100%;
}
.heroCarousel__track {
  list-style: none;
  position: relative;
  size: 100%;
  white-space: nowrap;
}
.heroCarousel__item {
  display: inline-block;
  size: 100% 100%;
  background-color: $black;
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
}

.heroSlide {
  position: relative;
}
.heroSlide__block {
  display: inline-block;
  size: calc(100%/3) 100%;
}

.heroSlide__block--caption {
  background-color: $black;
  background-image: url(../img/type-downtown_haverhill.png) !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.heroSlide__block--image {
  background-color: green;
}
.heroSlide__block--image:nth-child(1) {
  background-color: green;
  float: left;
}
.heroSlide__block--image:nth-child(2) {
  background-color: red;
  float: right;
}

