.downtownMap {
  max-height: 600px;
  min-height: 400px;
  position: relative;
  size: 100% 40vw;
  background: $black;
  font-size: 0;
  @media (width >= 900px) { min-height: 500px }
  @media (width < 900px) { min-height: 400px }
}
.downtownMap__frame {
  overflow-x: hidden;
  size: 100%;
}
.downtownMap__track {
  position: relative;
  size: 100%;
  white-space: nowrap;
  @media (width >= 900px) {}
  @media (width < 900px) {
    left: -250px;
  }
}
.downtownMap__item {
  display: inline-block;
  vertical-align: top;
}

.mapCanvas {
  height: 100%;
  position: relative;
  @media (width >= 900px) { width: calc(100% - 250px); }
  @media (width < 900px) { width: 100%; }
}
.mapCanvas__frame {
  size: 100%;
}
.mapCanvas__filter {
  padding: 0.50rem 0.80rem;
  position: absolute;
  top: 10px;left: 10px;
  background: $sable;
  border: 1px solid $black;
  font-size: 0.90rem;
  outline: none;
  text-transform: uppercase;
  @media (width >= 900px) { display: none; }
}

.mapMenu {
  height: 100%;
  overflow: hidden;
  width: 250px;
  background-color: $sable;
}
.mapMenu__categories {
  size: 100%;
}
.mapMenu__locations {
  display: block;
  overflow: hidden;
}

.categoryItem {
  height: calc(100%/7);
  overflow: hidden;
}
.categoryItem__button {
  size: 100%;
  background-color: $sable;
  border: none;
  outline: none;
  text-align: left;
}
.categoryItem__icon {
  margin: 0 0.50rem;
  size: 2.80rem;
  vertical-align: middle;
}
.categoryItem__label {
  vertical-align: middle;
  font-size: 0.80rem;
  text-transform: uppercase;
}
.categoryItem__list {
  overflow: hidden;
}

.locationItem {
  cursor: pointer;
  padding: 0.70rem;
}
.locationItem__label {
  font-size: 0.80rem;
  white-space: pre-wrap;
}

.categoryItem__button, .locationItem {
  &:hover, &.is-active {
    background: url(__SITEURL__/assets/img/rolled_ink.png) no-repeat center / 100% 100%;
  }
}

.iw__title {
  white-space: pre-wrap;
}
