.navbar {
  position: fixed;
  size: 100% calc($navHeight);
  top: 0;left: 0;
  z-index: 20;
}
.navbar.is-pinned { transform: translateY(-100%); }
.navbar.not-pinned { transform: translateY(0); }

.navbar__wrapper {
  size: 100%;
}

.navbar__column {}

.navbar__brandLogo {}
.navbar__brandImage {}

.navbar__menu {}
.navbar__menu.is-active {}
.navbar__menu.not-active {}

.navMenu__column {}
.navMenu__column:nth-child(1) {}
.navMenu__column:nth-child(2) {}
.navMenu__column:nth-child(3) {}

.navMenu__item {}
.navMenu__lines {}
.navMenu__line {}
.navMenu__text {}

.navbar__toggle {}
.navbar__toggle.is-active {}

.navbar__toggleLine {}
.navbar__toggleLine.is-active {}

.navbar__toggleLine:nth-child(1) {}
.navbar__toggleLine:nth-child(2) {}
.navbar__toggleLine:nth-child(3) {}
.navbar__toggleLine:nth-child(1).is-active {}
.navbar__toggleLine:nth-child(2).is-active {}
.navbar__toggleLine:nth-child(3).is-active {}
