.romanceCaptions {
  touch-action: none;
}

.romanceCaptions__frame {
  overflow: hidden;
  position: relative;
  size: 100%;
}

.romanceCaptions__track {
  display: inline-block;
  size: 100%;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.romanceCaptions__caption {
  display: inline-block;
  position: relative;
  size: 100%;
  background: no-repeat center center / contain;
}

.romanceCaptions__caption:nth-child(1) { background-image: url(__SITEURL__/assets/img/type-charm_living.png) }
.romanceCaptions__caption:nth-child(2) { background-image: url(__SITEURL__/assets/img/type-bedrooms.png) }
.romanceCaptions__caption:nth-child(3) { background-image: url(__SITEURL__/assets/img/type-downtown_haverhill.png) }
