.romanceVenue {
  height: 0;
  padding-bottom: calc(550%/8);
  position: relative;
  width: 100%;
  background: $black;
  font-size: 0;
  white-space: nowrap;
}

.romanceVenue__panel {
  display: inline-block;
  size: calc(100%/3) 100%;
  vertical-align: top;
}

.romanceVenue__panel--image {
  background: no-repeat center center / cover $black;
}
.romanceVenue__panel--image:nth-child(1) {
  background-image: url(../img/slide-building_facade.jpg);
}
.romanceVenue__panel--image:nth-child(3) {
  background-image: url(../img/slide-workspace.jpg);
}
