.romanceCaptions {}

.romanceCaptions__wrapper {
  overflow: hidden;
  size: 100%;
}

.romanceCaptions__track {
  display: block;
  size: 100%;
  font-size: 0;
  white-space: nowrap;
}

.romanceCaptions__caption {
  size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.romanceCaptions__caption:nth-child(1) { background-image: url(../img/type-charm_living.png) }
.romanceCaptions__caption:nth-child(2) { background-image: url(../img/type-bedrooms.png) }
.romanceCaptions__caption:nth-child(3) { background-image: url(../img/type-downtown_haverhill.png) }
