.unitTables {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  @media (width >= 800px) { width: 100%; }
  @media (width < 800px) { width: 80%; }
}

.unitTables__column {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  width: 40%;
  font-size: 1.50vw;
  @media (width < 800px) {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
.unitTables__column:nth-child(1) {
  margin-right: 3.00rem;
}

.unitTable {
  padding-bottom: 3.00rem;
  width: 100%;
  font-size: 1rem;
}
.unitTable:not(:last-child) {
  margin-bottom: 4vw;
}

.unitTable__captions {
  position: relative;
  width: 100%;
  background: $black;
  font-size: 0;
  padding: 15px;
}

.unitTable__caption {
  display: inline-block;
  padding: .25vw 0;
  width: 100%;
  color: $sable;
  font-family: $gotham;
  font-size: 1.20rem;
  text-align: center;
  text-transform: uppercase;
}

.unitTable__type {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid;
  font-family: $scala;
  font-size: 1.20rem;
  text-align: center;
  text-transform: uppercase;
}

.small-char {
  font-family: $scala;
  text-transform: none;
  font-size: 1vw;
    @media (width < 1279px) {
    font-size: 2vw;
  }
  @media (width < 800px) {
      font-size: 3.2vw !important;
  }
}

.unitTable__table {
  display: block;
  width: 100%;
}
.unitTable__body {
  display: block;
  width: 100%;
}
.unitTable__row {
  @include hoverPaint;
  cursor: pointer;
  display: block;
  min-height: 40px;
  padding: 0.90rem 2%;
  width: 100%;
  border-bottom: 0.10vw solid $black;
}
.unitTable__row:before {
  content: '';
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: middle;
  width: 0px;
}
.unitTable__cell {
  display: inline-block;
  width: calc(100%/2);
  font-size: 1.00rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  &:before, &:after {
    display: inline-block;
    position: relative;
  }
}


.unitTable__cell--ID:before {
  content: 'Unit';
  margin-right: 1.0vw;
}
.unitTable__cell--SF:after {
  content: 'Sq. Ft.';
  margin-left: 1.0vw;
}

.unitTable__disclaimer {}
