.unitModal__overlay {
  position: fixed;
  size: 100%;
  top: 0;left: 0;
  z-index: 20;
  background: rgba($black, 0.50);
  font-size: 0;
  text-align: center;
}
.unitModal__overlay:before {
  content: '';
  display: inline-block;
  position: relative;
  size: 0 100%;
  vertical-align: middle;
}

.unitModal {
  background: red;
  display: inline-block;
  max-width: 800px;
  position: relative;
  size: 100% auto;
  vertical-align: middle;
  z-index: 20;
}
.unitModal.is-active {}
.unitModal.not-active {}

.unitModal__details {}

.unitModal__detail {}
.unitModal__detail--tabule {}
.unitModal__detail--square {}

.unitModal__detail--unitBR:after {}
.unitModal__detail--unitBA:after {}
.unitModal__detail--unitSF:after {}
.unitModal__detail--unitUN:before {}

.unitModal__figure {}
.unitModal__plan {}
.unitModal__link {}
.unitModal__disclaimer {}
