<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>J.M. Lofts</title>
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
 <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400|IM+Fell+Great+Primer+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/css/application.css">
</head>
<body class="page">
  {% include 'navbar.html' %}
  <section class="application">
    <h1 class="application__headline">JM Lofts Rental Application</h1>
    <span class="application__hint">*indicates required field</span>
    <div class="application__container">
      <form class="application__form form" novalidate>
        {% for fieldset in application %}
          <fieldset class="form__group">
          {% set counter = 0 %}
          {% set previous = "" %}
            {% if fieldset.legend %}<legend class="form__legend">{{ fieldset.legend }}</legend>{% endif %}
            {% for field in fieldset.fields %}
              {% if field.type == "checkbox" %}
                {% if indexOf(field.modifiers, "inline") > -1 %}{% set previous = "inline checkbox" %}{% endif %}
                <label class="form__field form__field--checkbox{% for mod in field.modifiers %} form__field--{{mod}}{% endfor %}">
                  <input type="checkbox" class="form__input form__input--checkbox" name="{{ fieldset.legend}}[{{ field.label }}]" id="application--{{ field.name }}" value="Yes">
                  <input type="hidden" name="{{ fieldset.legend}}[{{ field.label }}]" value="No">
                  <a class="form__label form__label--check">{{ field.label }}</a>
                </label>
              {% else %}
                {% if indexOf(field.modifiers, "full") > -1 %}
                  {% set counter = 0 %}
                {% else %}
                  {% set counter += 1 %}
                {% endif %}
                {% if previous == "inline checkbox" %}<br/>{% set previous = "" %}{% endif %}
                <label class="form__field{% for mod in field.modifiers %} form__field--{{mod}}{% endfor %}{% if counter == 2 %} form__field--right{% endif %}">
                  <!--[if IE 9]><p class="form__label">{{ field.label }}{% if field.required %}*{% endif %}</p><![endif]-->
                  <input type="{{ field.type }}" class="form__input" name="{{ fieldset.legend}}[{{ field.label }}]" id="application--{{ field.name }}" placeholder="{{ field.label }}{% if field.required %}*{% endif %}" {% if field.pattern %}data-pattern="{{ field.pattern }}"{% endif %} {% if field.required %}required{% endif %}>
                </label>
                {% if counter == 2 %}{% set counter = 0 %}{% endif %}
              {% endif %}
            {% endfor %}
          </fieldset>
        {% endfor %}
        <input type="submit" class="form__submit application__submit" value="submit">
      </form>
      <div class="application__disclaimer">
        <p>*J.M. LOFTS WILL ONLY USE YOUR SOCIAL SECURITY NUMBER TO RUN A CREDIT AND CRIMINAL BACKGROUND CHECK WHICH IS REQUIRED TO APPROVE YOUR APPLICATION. THIS IS A SECURE PAGE, BUT IF YOU WOULD PREFER TO PROVIDE THIS INFORMATION OVER THE PHONE, PLEASE CHECK THE "PROVIDE VIA PHONE" BOX ABOVE.</p>
        <p>$100 application fee is due with application. Application fee is refundable if the application is not approved. It is non-refundable if application is approved, and will be credited towards 1 month security deposit, which is due at lease signing. First month’s rent is due at move-in.</p>
        <p>If you would prefer to print and mail your application, you can download the application form as a PDF document <a href="/assets/application.pdf" style="text-decoration: underline;">here</a>.</p>
        <p>If you would prefer to mail a check, please make it payable to: 37 Washington Street Redevelopment LLC. Please mail the check with your application to:</p>
        <address class="application__mailingAddress">
          <p>Traggorth Companies</p>
          <p>50 Summer Street</p>
          <p>Boston, MA 02110</p>
        </address>
      </div>
      <div class="form__note">
        <p class="form__message">Thank you!<br/> The final step is to submit your application fee <a href="https://secure.squarespace.com/commerce/checkout?cartId=56c39e1ccf80a1bf7aad7bcb">here</a>. Once completed, our leasing staff will be in touch shortly.</p>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
  <script src="../assets/js/application.js"></script>
</body>
</html>
