<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>J.M. Lofts</title>
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" href="assets/css/index.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
  <script async>
    window.JMLocations = [
      {% for location in locations %}
        {% set random = Math.round(Math.random()*3) %}
        {
          position: { lat: {{ location.lat }}, lng: {{ location.lng }}},
          name: "{{ location.name | safe }}",
          category: "{{ location.category }}",
          link: "{{ location.url }}",
          address: {
            street: "{{ location.address }}",
            city: "{{ location.city }}",
            state: "{{ location.state }}"
          },
          {% if location.persistent %}
          alwaysVisible: true,
          {% endif %}
          {% if location.category == 'master' %}
          zIndex: 500,
          {% endif %}
          icon: {
            {% if location.category == 'master' or location.category == 'transportation' %}
              url: "assets/img/map_icons/marker-{{ location.category }}.png",
              size: new google.maps.Size(40, 40)
            {% elseif random == 1 %}
              url: "assets/img/map_icons/tack_1.png",
              size: new google.maps.Size(12, 41)
            {% elseif random == 2 %}
              url: "assets/img/map_icons/tack_2.png",
              size: new google.maps.Size(12, 39)
            {% else %}
              url: "assets/img/map_icons/tack_3.png",
              size: new google.maps.Size(19, 39)
            {% endif %}
          },
          content: (
            '<div class="iw">' +
              '<div class="iw__content">' +
                '<h2 class="iw__title"><a href="{{ location.url }}">{{ location.name | escape }}</a></h2>' +
                '<address class="iw__address">' +
                  '<p>{{ location.address }}</p>' +
                  '<p>{{ location.city }} {{ location.state }}</p>' +
                '</address>' +
              '</div>' +
              '<div class="iw__bottom"></div>' +
            '</div>'
          )
        }{% if not loop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
  <script src="assets/js/index.js" async></script>
</head>
<body class="page">
  {% include 'navbar.html' %}
  <main class="page__content" role="main">
    <section class="page__section" id="section--welcome">{% include 'sect-welcome.html' %}</section>
    <section class="page__section" id="section--floorplans">{% include 'sect-floorplans.html' %}</section>
    <section class="page__section" id="section--features">{% include 'sect-features.html' %}</section>
    <section class="page__section" id="section--downtown">{% include 'sect-downtown.html' %}</section>
    <section class="page__section" id="section--contact">{% include 'sect-contact.html' %}</section>
  </main>
  {% include 'footer.html' %}
  <div class="page__overlay"></div>
</body>
</html>
