<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>J.M. Lofts</title>
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <link rel="stylesheet" href="assets/css/index.css">
  <script src="assets/js/index.js" async></script>
</head>
<body class="page">
  {% include 'navbar.html' %}
  <main class="page__content" role="main">
    <section class="page__section" id="section--welcome">{% include 'sect-welcome.html' %}</section>
    <section class="page__section" id="section--floorplans">{% include 'sect-floorplans.html' %}</section>
    <section class="page__section" id="section--features">{% include 'sect-features.html' %}</section>
    <section class="page__section" id="section--downtown">{% include 'sect-downtown.html' %}</section>
    <section class="page__section" id="section--contact">{% include 'sect-contact.html' %}</section>
  </main>
  {% include 'footer.html' %}
  <div class="page__overlay"></div>
</body>
</html>
