<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>J.M. Lofts</title>
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
  <link href='https://fonts.googleapis.com/css?family=Montserrat|IM+Fell+Great+Primer+SC|Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/css/residents.css">
</head>
<body class="page">
  <!-- {% include 'navbar.html' %} -->
  <main class="page__content">
    <h1 class="page__disclaimer">Coming Soon</h1>
  </main>
  <!-- {% include 'footer.html' %} -->
</body>
</html>
